*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/test/Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/src/examples/*/*.md
/docs/src/examples/*/*.png
/docs/Manifest.toml
.vscode/
*.aux
*.bbl
*.blg
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz